
body {
	margin: 0;
	padding: 0;
	zoom: 0;
	font-size: 1em; // 12px}

h1, h2, p {
	margin: 0;
	padding: 0; }

img {
    max-width: 100%;
}

a {
	color: #e85233;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
	color: #ffcc67;
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.container {
	width: 100% margin: 0 auto;
}

/*-- introduction to page --*/

.section-intro {
	background-color: #203668;
	background-repeat: repeat;
	width: 100%;
	padding: 5% 0 6% 0;
	overflow: hidden;
}

.section-intro h1 {
	font-size: 2em;
	font-family: 'Varela Round', sans-serif;
	color: #ffffff;
	letter-spacing: .1em;
	text-align: center;
	max-width: 100%;
	padding: 3.5% 0 0 0;
}

.section-intro p {
	color: #ffffff;
	font-size: .9em;
	font-family: 'Karla', sans-serif;
	margin: 1.1% auto 0% auto;
	max-width: 60%;
	text-align: center;
}

.section-intro a {
	color: #ffffff;
	text-decoration: none; }

.section-intro a:hover {
	color:#fae896;
	text-decoration:none;}

/*-- what we do --*/

.section-whatwedo {
	background-color: #ffffff;
	width: 100%;
}

.section-whatwedo .wrapper {
	margin: 3% auto 6% 21%;
}

.section-whatwedo .double {
	display:inline-block;
	vertical-align: top;
	margin: 5% 3% 3% 2%;
	width: 30%;
}

.section-whatwedo h1 {
	font-size: 2em;
	font-family: 'Varela Round', sans-serif;
	color: #e85233;
	letter-spacing: .1em;
	margin: 5% auto 3% auto;
	text-align: left;
}

.section-whatwedo p {
	color: #0d152b;
	font-size: 1em;
	font-family: 'Karla', sans-serif;
	line-height: 1.6em;
	margin: 2% auto 3% auto;
	text-align: left;
}

.section-whatwedo .spacer {
	padding: 11% 0 0 0;
}

/* easy to use */

.section-easytouse {
	background-color: #bddad8;
	width: 100%;
}

.section-easytouse img {
	max-height: 400px;
	margin: 2% auto 7% 17%;
}

.section-easytouse .wrapper {
	margin: 3% auto auto 5%;
}

.section-easytouse .four {
	display:inline-block;
	vertical-align: top;
	margin: auto 1% 1% 2%;
	width: 20%;
}

.section-easytouse h1 {
	font-size: 2em;
	font-family: 'Varela Round', sans-serif;
	color: #fff;
	letter-spacing: .1em;
	margin: auto auto 5% auto;
	padding-top: 5%;
	text-align: center;
}

.section-easytouse h2 {
	font-size: 1.5em;
	font-family: 'Karla', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: #FFFFFF;
	letter-spacing: .1em;
	margin: 3% auto 3% auto;
	text-align: center;
}

.section-easytouse p {
	color: #e85233;
	font-size: 1em;
	font-family: 'Karla', sans-serif;
	line-height: 1.6em;
	margin: 2% auto auto auto;
	text-align: center;
}

.section-easytouse .spacer {
	padding: 6% 0 0 0;
}

.section-easytouse .line {
	width: 20%;
	border: 3px solid #ffcc67;
	margin: 0 0 0 38%;
}


/*-- how to get it --*/

.section-howtoget {
	background-color: #e85233;
	margin: auto auto 7% auto;
	width: 100%;
}

.section-howtoget .wrapper {
	margin: auto auto 0% 21%;
	width: 60%;
	padding: 7% 0 7% 0;
}

.section-howtoget .horizonalspacer {
	padding-right: 1%;
}

.section-howtoget h1 {
	font-size: 2em;
	font-family: 'Varela Round', sans-serif;
	color: #ffffff;
	letter-spacing: .1em;
	margin: 5% auto 3% auto;
	text-align: left;
}

.section-howtoget p {
	color: #fff;
	font-size: 1em;
	font-family: 'Karla', sans-serif;
	line-height: 1.6em;
	margin: 2% auto 3% auto;
	text-align: left;
}

.section-howtoget .spacer {
	padding: 11% 0 0 0;
}

/*-- team --*/

.section-team {
	background-color: #ffffff;
	width: 100%;
}

.section-team .wrapper {
	margin: 3% auto 8% 23.5%;
}

.section-team .double {
	display:inline-block;
	vertical-align: top;
	margin: auto 3% 3% 5%;
	width: 25%;
}

.section-team img {
	max-width: 80%;
	margin-left: 10%;
}

.section-team h1 {
	font-size: 2em;
	font-family: 'Varela Round', sans-serif;
	color: #e85233;
	letter-spacing: .1em;
	margin: auto auto auto auto;
	text-align: center;
}

.section-team h2 {
	font-size: 1.1em;
	font-family: 'Karla', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: #203668;
	letter-spacing: .1em;
	margin: 8% auto 7% auto;
	text-align: center;
}

.section-team p {
	color: #0d152b;
	font-size: 1em;
	font-family: 'Karla', sans-serif;
	line-height: 1.6em;
	margin: 7% auto 3% auto;
	text-align: center;
}

.section-team .spacer {
	padding: 11% 0 0 0;
}

.section-team .line {
	width: 20%;
	border: 3px solid #ffcc67;
	margin: 0 0 0 38%;
}


/*-- footer--*/

.section-footer {
	background-color: #0d152b;
	background-repeat: repeat;
	width: 100%;
	padding: 5% 0 5% 0;
	overflow: hidden;
}

.section-footer .wrapper {
	margin: auto auto auto 20%;
}

.section-footer p {
	color: #fff;
	font-size: 1em;
	font-family: 'Karla', sans-serif;
	line-height: 1.6em;
	margin: auto;
	text-align: left;
}

.section-footer .double {
	display:inline-block;
	vertical-align: top;
	margin: auto 3% auto 2%;
	width: 20%;
}

.section-footer i {
	color: #fff;
	font-size: 2.5em;
	margin: auto .5% auto .5%;
}

@media only screen and (max-width: 1250px) {

/*-- intro --*/

.section-intro {
	width: 100%;
	padding: 8% 0 8% 0;
}

.section-intro p {
	max-width: 60%;
	text-align: center;
}

.section-intro h1 {
	font-size: 1.6em;
	font-family: 'Varela Round', sans-serif;
	letter-spacing: .1em;
	text-align: center;
	max-width: 90%;
	margin-left: 5%;}

/*-- what we do --*/

.section-whatwedo .wrapper {
	margin: 10% auto 0% 10%;
}

.section-whatwedo .double {
	display: inline-block;
	vertical-align: top;
	margin: 3% auto 10% 4%;
	padding-right: 2%;
	width: 37%;
}

.section-whatwedo .spacer {
	padding: 0% 0 0 0;
}

.section-whatwedo img {
	padding: 30% auto auto auto;
	max-height: 60%;
}

.section-whatwedo h1 {
	font-size: 1.6em;
	font-family: 'Varela Round', sans-serif;
	color: #e85233;
	letter-spacing: .1em;
	margin: 5% auto 3% auto;
	text-align: left;
}

/*-- easy to use --*/

.section-easytouse img {
	max-height: 400px;
	margin: auto auto 11% auto;
}

.section-easytouse .wrapper {
	margin: 3% 4% auto auto;
}

.section-easytouse .four {
	display: inline-block;
	vertical-align: top;
	margin: auto auto 2% 6%;
	width: 18%;
}

.section-easytouse h1 {
	font-size: 1.6em;
	font-family: 'Varela Round', sans-serif;
	color: #fff;
	letter-spacing: .1em;
	line-height: 1.3em;
	margin: auto auto 5% auto;
	padding-top: 9%;
	text-align: center;
	max-width: 80%;
}

.section-easytouse h2 {
	font-size: 1.1em;
	font-family: 'Karla', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: #FFFFFF;
	letter-spacing: .1em;
	margin: 3% auto 3% auto;
	text-align: center;
}

.section-easytouse p {
	color: #0d152b;
	font-size: .95em;
	font-family: 'Karla', sans-serif;
	line-height: 1.5em;
	margin: 2% auto auto auto;
	text-align: center;
}

/*HOW DO I GET IT*/

.section-howtoget h1 {
	font-size: 1.6em;
	text-align: left;
}

/* TEAM */

.section-team .wrapper {
	margin: 3% 8% 5% 14%;
}

.section-team .double {
	display: inline-block;
	vertical-align: top;
	margin: auto 3% 5% 5%;
	width: 35%;
}

.section-team img {
	max-width: 80%;
	margin-left: 10%;
}

.section-team h1 {
	font-size: 1.6em;
	font-family: 'Varela Round', sans-serif;
	color: #e85233;
	letter-spacing: .1em;
	margin: 2% auto 5% auto;
	text-align: center;
}

.section-team h2 {
	font-size: 1.1em;
	font-family: 'Karla', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: #203668;
	letter-spacing: .1em;
	margin: 8% auto 7% auto;
	text-align: center;
}

.section-team p {
	color: #0d152b;
	font-size: .95em;
	font-family: 'Karla', sans-serif;
	line-height: 1.6em;
	margin: 7% auto 3% auto;
	text-align: center;
}

.section-team .spacer {
	padding: 11% 0 0 0;
}

.section-team .line {
	width: 20%;
	border: 3px solid #ffcc67;
	margin: 0 0 0 38%;
}


}


@media only screen and (max-width: 900px) {

/*-- intro --*/

.section-intro {
	width: 100%;
	padding: 8% 0 10% 0;
}

.section-intro p {
	max-width: 70%;
	text-align: center;
}

.section-intro h1 {
	font-size: 1.1em;
	font-family: 'Varela Round', sans-serif;
	letter-spacing: .1em;
	text-align: center;
	max-width: 85%;
	margin: auto auto 2% 8%;}

/*-- what we do --*/

.section-whatwedo .wrapper {
	margin: 10% auto 0% 8%;
}

.section-whatwedo .double {
	display: inline-block;
	vertical-align: top;
	margin: 3% 3% 10% 0%;
	padding-right: 2%;
	width: 44%;
}

.section-whatwedo .spacer {
	padding: 0% 0 0 0;
}

.section-whatwedo img {
	padding-top: 8%;
}

.section-whatwedo h1 {
	font-size: 1.6em;
	font-family: 'Varela Round', sans-serif;
	color: #e85233;
	letter-spacing: .1em;
	margin: 4% auto 5% auto;
	text-align: left;
}

/*-- easy to use --*/

.section-easytouse .wrapper {
	margin: 3% 4% auto auto;
}

.section-easytouse .four {
	display: inline-block;
	vertical-align: top;
	margin: auto auto 2% 6%;
	width: 18%;
}

.section-easytouse h1 {
	font-size: 1.6em;
	font-family: 'Varela Round', sans-serif;
	color: #fff;
	letter-spacing: .1em;
	line-height: 1.3em;
	margin: auto auto 5% auto;
	padding-top: 9%;
	text-align: center;
	max-width: 80%;
}

.section-easytouse h2 {
	font-size: 1.1em;
	font-family: 'Karla', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: #FFFFFF;
	letter-spacing: .1em;
	margin: 3% auto 3% auto;
	text-align: center;
}

.section-easytouse p {
	color: #0d152b;
	font-size: .95em;
	font-family: 'Karla', sans-serif;
	line-height: 1.5em;
	margin: 2% auto auto auto;
	text-align: center;
}

/*-- how to get it --*/


.section-howtoget h1 {
	font-size: 1.6em;
	text-align: left;
}

.section-howtoget p {
	color: #fff;
	font-size: .95em;
	font-family: 'Karla', sans-serif;
	line-height: 1.5em;
	margin: 2% auto 3% auto;
	text-align: left;
}

.section-howtoget .spacer {
	padding: 11% 0 0 0;
}

/*-- team --*/

.section-team .wrapper {
	margin: 3% 10% 8% 10%;
}

.section-team .double {
	display: inline-block;
	vertical-align: top;
	margin: auto 3% 8% 5%;
	width: 40%;
}

.section-team img {
	max-width: 80%;
	margin-left: 10%;
}

.section-team h1 {
	font-size: 1.6em;
	font-family: 'Varela Round', sans-serif;
	color: #e85233;
	letter-spacing: .1em;
	margin: 10% auto 8% auto;
	text-align: center;
}

.section-team h2 {
	font-size: 1.1em;
	font-family: 'Karla', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: #203668;
	letter-spacing: .1em;
	margin: 8% auto 7% auto;
	text-align: center;
}

.section-team p {
	color: #0d152b;
	font-size: .95em;
	font-family: 'Karla', sans-serif;
	line-height: 1.6em;
	margin: 7% auto 3% auto;
	text-align: center;
}

.section-team .spacer {
	padding: 11% 0 0 0;
}

.section-team .line {
	width: 20%;
	border: 3px solid #ffcc67;
	margin: 0 0 0 38%;
}

}




@media only screen and (max-width: 700px) {

/*-- intro --*/

.section-intro {
	width: 100%;
	padding: 15% 0 10% 0;
}

.section-intro p {
	max-width: 70%;
	text-align: center;
}

.section-intro h1 {
	font-size: 1.1em;
	font-family: 'Varela Round', sans-serif;
	letter-spacing: .1em;
	text-align: center;
	max-width: 70%;
	margin-left: 10%;
	padding: 4% 3% 0 3%;
}


/*-- what we do --*/

.section-whatwedo h1 {
	font-size: 1.6em;
	font-family: 'Varela Round', sans-serif;
	color: #e85233;
	letter-spacing: .1em;
	margin: 5% auto 3% auto;
	text-align: left;
}

.section-whatwedo p {
	font-size: .95em;
	line-height: 1.5em;
	margin: 2% auto 3% auto;
	text-align: left;
}

.section-whatwedo .wrapper {
	margin: 10% auto 1% 8%;
}

.section-whatwedo .double {
	display: block;
	vertical-align: top;
	margin: 3% 3% 10% 3%;
	padding-right: 0%;
	width: 90%;
}

.section-whatwedo .spacer {
	padding: 1% 0 0 0;
}

.section-whatwedo img {
	padding: 8% auto auto auto;
	margin-left: 10%;
	max-width: 50%;
	display: none;
}

/*-- easy to use --*/

.section-easytouse .wrapper {
	margin: 3% auto auto 7%;
}

.section-easytouse .four {
	display: inline-block;
	vertical-align: top;
	margin: auto 1% 8% 8%;
	width: 35%;
}

.section-easytouse h1 {
	font-size: 1.6em;
	font-family: 'Varela Round', sans-serif;
	color: #fff;
	letter-spacing: .1em;
	line-height: 1.3em;
	margin: auto auto 10% auto;
	padding-top: 9%;
	text-align: center;
	max-width: 80%;
}

.section-easytouse h2 {
	font-size: 1.1em;
	font-family: 'Karla', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: #FFFFFF;
	letter-spacing: .1em;
	margin: 3% auto 3% auto;
	text-align: center;
}

.section-easytouse p {
	color: #0d152b;
	font-size: .95em;
	font-family: 'Karla', sans-serif;
	line-height: 1.5em;
	margin: 2% auto auto auto;
	text-align: center;
}



/*-- team --*/

.section-team .wrapper {
	margin: 3% auto 10% 15%;
}

.section-team .double {
	display: block;
	margin: auto 3% 20% 5%;
	width: 70%;
}

.section-team img {
	max-width: 80%;
	margin-left: 10%;
}

.section-team h1 {
	font-size: 1.6em;
	font-family: 'Varela Round', sans-serif;
	color: #e85233;
	letter-spacing: .1em;
	margin: 10% auto 15% auto;
	text-align: center;
}

.section-team h2 {
	font-size: 1.1em;
	font-family: 'Karla', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: #203668;
	letter-spacing: .1em;
	margin: 8% auto 7% auto;
	text-align: center;
}

.section-team p {
	color: #0d152b;
	font-size: .95em;
	font-family: 'Karla', sans-serif;
	line-height: 1.6em;
	margin: 7% auto 3% auto;
	text-align: center;
}

.section-team .spacer {
	padding: 11% 0 0 0;
}

.section-team .line {
	width: 20%;
	border: 3px solid #ffcc67;
	margin: 0 0 0 38%;
}

}


@media only screen and (max-width: 500px) {

/*-- intro --*/

.section-intro {
	width: 100%;
	padding: 15% 0 15% 0;
}

.section-intro p {
	max-width: 70%;
	text-align: center;
}

.section-intro h1 {
	font-size: .9em;
	font-family: 'Varela Round', sans-serif;
	letter-spacing: .1em;
	text-align: center;
	max-width: 70%;
	margin-left: 12%;
	padding: 4% 3% 0 3%;
}


/*-- what we do --*/

.section-whatwedo h1 {
	font-size: 1.4em;
	font-family: 'Varela Round', sans-serif;
	color: #e85233;
	letter-spacing: .1em;
	margin: 5% auto 3% auto;
	text-align: left;
}

.section-whatwedo p {
	font-size: .95em;
	line-height: 1.5em;
	margin: 2% auto 3% auto;
	text-align: left;
}

.section-whatwedo .wrapper {
	margin: 10% auto 1% 8%;
}

.section-whatwedo .double {
	display: block;
	vertical-align: top;
	margin: 3% 3% 10% 3%;
	padding-right: 0%;
	width: 90%;
}

.section-whatwedo .spacer {
	padding: 1% 0 0 0;
}

.section-whatwedo img {
	padding: 8% auto auto auto;
}


/* easy to use */

.section-easytouse .wrapper {
	margin: 3% auto auto 7%;
}

.section-easytouse .four {
	display: inline-block;
	vertical-align: top;
	margin: auto 1% 8% 8%;
	width: 35%;
}

.section-easytouse h1 {
	font-size: 1.4em;
	font-family: 'Varela Round', sans-serif;
	color: #fff;
	letter-spacing: .1em;
	line-height: 1.3em;
	margin: auto auto 10% auto;
	padding-top: 9%;
	text-align: center;
	max-width: 80%;
}

.section-easytouse h2 {
	font-size: 1em;
	font-family: 'Karla', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: #FFFFFF;
	letter-spacing: .1em;
	margin: 3% auto 3% auto;
	text-align: center;
}

.section-easytouse p {
	color: #0d152b;
	font-size: .95em;
	font-family: 'Karla', sans-serif;
	line-height: 1.6em;
	margin: 2% auto auto auto;
	text-align: center;
}

/*-- how to get it --*/

.section-howtoget {
	background-color: #e85233;
	margin: auto auto 7% auto;
	width: 100%;
}

.section-howtoget .wrapper {
	margin: auto auto 0% 21%;
	width: 60%;
	padding: 9% 0 11% 0;
}

.section-howtoget .horizonalspacer {
	padding-right: 1%;
}

.section-howtoget h1 {
	font-size: 1.4em;
	font-family: 'Varela Round', sans-serif;
	color: #ffffff;
	letter-spacing: .1em;
	margin: 5% auto 10% auto;
	text-align: left;
}

.section-howtoget p {
	color: #fff;
	font-size: .95em;
	font-family: 'Karla', sans-serif;
	line-height: 1.6em;
	margin: 2% auto 3% auto;
	text-align: left;
}

.section-howtoget .spacer {
	padding: 11% 0 0 0;
}


}
